body {
  background-color: #FAEAEA;
  font-family: 'Kurale', serif;
}

/* Navbar */

.navbar {
  margin: 1.2em 2em;

}

.container-fluid {
  font-size: 1.1em;
  /* position: -webkit-sticky;
  position: sticky;
  top: 0;
  align-self: flex-start; */
}



#navbarNav {
  display: flex;
  justify-content: flex-end;

}

.nav-item {
  margin-left: 10px;
  background: no-repeat 0 90%;
  background-image: linear-gradient(#F89292, #C864F647);
  background-size: 0% 3px;
  transition: background-size .3s ease;
}

.nav-item:hover,
.nav-item:focus {
  background-size: 100% 3px;
}

.active {
  color: black;
}

/* Sidebar */
.sidebar-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  float: left;
  margin: 2.5em;

}

.sidebar-sticky {
  position: -webkit-sticky;
  position: sticky;
  align-self: flex-start;
  top: 0;
}

.sidebar-item {
  padding: 0.6em;

}

.sidebar-container a {
  text-decoration: none;
  color: inherit;
}

/* Home */
.home {
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.home-box1 {
  background-color: white;
  width: 400px;
  height: 300px;
  box-shadow: -1px 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;

  z-index: 1;
}

.home-box2 {
  background-color: #F89292;
  width: 400px;
  height: 300px;
  box-shadow: -1px 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  /* center text */
  display: flex;
  justify-content: center;
  align-items: center;

  /* position: absolute; */
  z-index: 2;
  margin-top: 150px;
  margin-left: -20px;
}

.title-content {
  color: white;
}

.title-content h2 {
  font-family: 'Karma', serif;
}

.scroll-down {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25vh;
}

.scroll-down i {
  background: -webkit-linear-gradient(181.46deg, #F89292 49.96%, rgba(200, 100, 247, 0.28) 98.76%);
  background: linear-gradient(181.46deg, #F89292 49.96%, rgba(200, 100, 247, 0.28) 98.76%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* About Page */
.grid-about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "personal hobbies"
    "about hobbies";
  grid-gap: 3em;
  grid-column-gap: 5em;
  margin: 6em 10em;
}

.grid-about-1 {
  grid-area: personal;
}

.grid-about-2 {
  grid-area: hobbies;
}

.grid-about-3 {
  grid-area: about;
}

.grid-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.subtitle {
  background: no-repeat 0 100%;
  background-image: linear-gradient(to left, #FF4444, #920052);
  background-size: 100% 3px;
  padding-bottom: 6px;
  width: fit-content;
}

.description {
  padding-top: 10px;
}

.polaroid {
  display: block;
}

.polaroid {
  background: #FFFFFF;
  border: 22px solid white;
  border-bottom: 60px solid white;
  border-radius: 10px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  margin: 2.5em 0;
  text-align: center;
  position: relative;
}

.polaroid img {
  display: inline-block;
}

.img-left {
  transform: rotate(-10deg);
  float: left;

}

.img-right {
  transform: rotate(10deg);
  float: right;
}

.caption {
  text-align: center;
  /* line-height: 2em; */
}

/* Experience */
.experience-title {
  margin: 6em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}

.experience-title h5 {
  text-align: center;
}

.line {
  background: no-repeat 0 100%;
  background-image: linear-gradient(to left, #FF4444, #920052);
  background-size: 100% 3px;
  padding-bottom: 6px;
  width: 20vw;
  height: 1px;
  align-self: center;
}

.line-left {
  justify-self: end;
}

.line-right {
  justify-self: start;
}