:root {
  /* --primary: #447457;
  --secondary: #b1bdab; */
  /* --body: #e2e4e1; */
  /* --accent: #5E6F64; *  /* --complement: #3F4441; */
  --primary: #920052;
  --secondary: #F89292;
  --body: #FAEAEA;
  --accent: #F89292;
  --complement: #C864F647;
}

body {
  background-color: var(--body);
  font-family: 'Kurale', serif;
}

/* Navbar */

.navbar {
  padding: 0.5em 2em;
  background-color: var(--body);
  top: 0;
  overflow: hidden;
}

.container-fluid {
  font-size: 1.1em;
  /* position: -webkit-sticky;
  position: sticky;
  top: 0;
  align-self: flex-start; */
}



#navbarNav {
  display: flex;
  justify-content: flex-end;

}

.nav-item {
  margin-left: 10px;
  background: no-repeat 0 90%;
  background-image: linear-gradient(var(--accent), var(--complement));
  background-size: 0% 3px;
  transition: background-size .3s ease;
}

.nav-item:hover,
.nav-item:focus,
.active {
  background-size: 100% 3px;
  color: black;
}



/* Sidebar */
.sidebar-container {
  float: left;
  margin: 2em;
}

.sidebar-sticky {
  position: fixed;
  top: 40%;
}

.sidebar-item {
  padding: 0.6em;
}

.sidebar-container a {
  text-decoration: none;
  color: inherit;
}

/* Home */
#root {
  height: 8em;
}

.home {
  display: flex;
  justify-content: center;
}

.home-box1 {
  background-image: url("images/Photoshoot\ Picture.png");
  width: 400px;
  height: 300px;
  box-shadow: -1px 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  z-index: 1;
}

.home-box2 {
  background-color: var(--accent);
  width: 400px;
  height: 300px;
  box-shadow: -1px 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  /* center text */
  display: flex;
  justify-content: center;
  align-items: center;

  /* position: absolute; */
  z-index: 2;
  margin-top: 150px;
  margin-left: -20px;
}

.title-content {
  color: white;
}

.title-content h2 {
  font-family: 'Karma', serif;
}

.scroll-down {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25vh;
}

.scroll-down i {
  background: -webkit-linear-gradient(181.46deg, var(--accent) 49.96%, rgba(200, 100, 247, 0.28) 98.76%);
  background: linear-gradient(181.46deg, var(--accent) 49.96%, rgba(200, 100, 247, 0.28) 98.76%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* About Page */
#aboutme {
  height: 6em;
}

.grid-about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "personal hobbies"
    "about hobbies";
  grid-gap: 3em;
  grid-column-gap: 5em;
  margin: 0em 15% 10em;
}

.grid-about-1 {
  grid-area: personal;
}

.grid-about-2 {
  grid-area: about;
}

.grid-about-3 {
  grid-area: hobbies;
}

.grid-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.subtitle {
  background: no-repeat 0 100%;
  background-image: linear-gradient(to left, var(--secondary), var(--primary));
  background-size: 100% 3px;
  padding-bottom: 6px;
  width: fit-content;
}

.description {
  padding-top: 10px;
}

.polaroid {
  background: #FFFFFF;
  border: 20px solid white;
  border-bottom: 60px solid white;
  border-radius: 10px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  margin: 2em 0;
  text-align: center;
  position: relative;
  display: inline-block;
}


.polaroid img {
  padding: 8px 5px;
}

.img-left {
  transform: rotate(-10deg);
  float: left;

}

.img-right {
  transform: rotate(10deg);
  float: right;
}


.caption {
  text-align: center;
}

@media screen and (max-width: 1100px) {
  .grid-about {
    display: block;
    overflow: auto;

  }

  .polaroid {
    display: block;
    /* position: absolute; */
  }

  .img-left {
    transform: rotate(0deg);
  }

  .img-right {
    transform: rotate(0deg);
  }
}

/* Experience */

.experience-title {
  display: grid;
  margin: 2em 0 4em 0;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}

.experience-title h5 {
  text-align: center;
}

#experience-container {
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  padding: 4em 0 6em 0;
}

.line {
  background: no-repeat 0 100%;
  background-image: linear-gradient(to left, var(--secondary),
      var(--primary));
  background-size: 100% 3px;
  padding-bottom: 6px;
  width: 20vw;
  height: 1px;
  align-self: center;
}

.line-left {
  background-image: linear-gradient(to left, var(--primary),
      var(--secondary));
  justify-self: end;
}

.line-right {
  justify-self: start;
}

/* Professional Experience */
#timeline {
  position: relative;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
#timeline::after {
  content: '';
  position: absolute;
  width: 4px;
  background: var(--secondary);
  top: 0;
  bottom: 0;
  left: 50%;
}

/* Container around content */
.timeline-item {
  padding: 0 40px;
  position: relative;
  background-color: inherit;
  width: 100%;
}

/* The circles on the timeline */
.timeline-item::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  left: 98%;
  background-color: white;
  border: 4px solid var(--secondary);
  top: 0;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.timeline-left {
  left: -50%;
}

/* Place the container to the right */
.timeline-right {
  left: 50%;
}

.timeline-right::after {
  left: -10px;
}

/* The actual content */
.timeline-info {
  padding: 20px 30px;
  background-color: var(--body);
  position: relative;
  border-radius: 6px;
}

@media screen and (max-width: 1000px) {
  #timeline::after {
    left: 0px;
  }

  .timeline-left::after {
    left: -10px;
  }

  .timeline-left,
  .timeline-right {
    left: 0;
    margin-bottom: 15px;
  }
}

/* Contact Me */
#contactme {
  height: 5em;
}

#contact-container {
  margin: 0em 10em;
  padding-bottom: 5em;
}

.contact-grid {
  display: grid;
  grid-template-rows: 5fr 1fr;
  margin: 5em 6em;
  background-color: white;
  padding: 3em 5em 1em;
  box-shadow: -1px 5px 10px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.contact-grid-top {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-template-areas: "left right";
  grid-gap: 1.5em;
  color: rgb(139, 118, 118);
}

.contact-grid-left {
  border-right: 1px solid rgb(139, 118, 118);
  padding-right: 1em;
  grid-area: left;
}

.contact-grid-right {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-area: right;
}

.postcard-image {
  width: 100px;
  height: 100px;
  background-image: url(images/photocard.png);
  /* position: relative;
  left: 80%; */
  float: right;
}

.contact-grid-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-grid-bottom {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

input,
textarea {
  display: block;
  margin-top: 5px;
  resize: none;
}

.icon {
  color: rgb(139, 118, 118);
  font-size: 1.2em;
}

.icon:hover {
  font-size: 1.5em;
  cursor: pointer;
}

#confirm-modal {
  position: absolute;
  width: 250px;
  height: 100px;
  /* background: linear-gradient(to right, var(--body), rgb(221, 199, 199)); */
  background-color: white;
  display: flex;
  justify-self: center;
  justify-content: center;
  align-self: center;
  border: 1px solid black;
  border-radius: 5px;
  animation: fadeInAnimation 0.5s linear forwards;
}

#confirm-modal>div {
  display: flex;
  align-self: center;
  color: black;
}

@media screen and (max-width: 1000px) {

  .contact-grid,
  .contact-grid>* {
    display: block;
  }

  .contact-grid-left {
    border: none;
    padding-bottom: 2em;
  }

  .contact-grid-bottom {
    position: absolute;
    right: 8%;
    bottom: 2%;
  }
}

/* Footer */
#footer {
  text-align: center;
  margin: 0 3em;
  padding: 1em 0 3em;
  border-top: 1px solid black;
  position: relative;
}

#footer::before,
#footer::after {
  position: absolute;
  top: -3px;
  left: 0;
  height: 5px;
  width: 5px;
  background: black;
  content: "";
  border-radius: 5px;
}

#footer::after {
  right: 0;
  left: auto;
}


/* Animations */

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}